body {
    display: flex;
    justify-content: center;
    align-items: center;
 }
 
 #perent {
     width: 500px;
     height: 500px;
     background-color: rgb(255, 0, 204);
 }
 
 div {
     width: 300px;
     height: 500px;
     background-color: rgb(37, 8, 199);
 
     transform: skew(-300px);
 }
 
 #child {
     height: 200px;
     width: 200px;
     background-color: blueviolet;

 }
 
 #child:hover {
     transform: rotate(60deg);
 }